# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
.mypy_cache/
*.py[cod]

# Idea software family
.idea/
*.ipr
*.iml
*.iws

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
pip-wheel-metadata/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.python-version

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

.encryption_key

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis
coverage.lcov
.tmp.pid

# PyBuilder
target/

# Vim swapfiles
.*.sw?

# snyk
.dccache

# sqlite databases
*.db

# Mac
.DS_Store

# docker compose
docker-compose.override.yml
.devcontainer/.poetry_cache

# direnv
.direnv/
.envrc

# nix
result
*.qcow2

# tests
.k3d-config.yaml

# Misc
*.pem
*.gz
*.tgz
.dmypy.json

# VScode local config
.vscode/*
!.vscode/settings.json
